<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="common">
    <select id="selectNow" resultType="String">
        SELECT NOW()
    </select>    
    
   	<select id="R_getRandWord" resultType="String">
		SELECT Word
		FROM TBL_COM_WORD
		ORDER BY RAND()
		LIMIT 1   	   	
   	</select>
   	
   	<insert id="C_addRandWord" parameterType="HashMap">
   		INSERT INTO TBL_COM_WORD 
   		(
   			Word 
   		) VALUES (
   			#{WORD}
   		)
   	</insert>
    
    
</mapper>

