@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);


html,body{
    background-color: black;
    font-family: 'Jeju Gothic', serif;
}

 /* '.push'는 'footer'와 높이가 같아야 한다. */

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color:white;
  margin-left: 2%;
  margin-bottom : 1%;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

h2{
    color:white;
    text-align: center;
    color: #fdcb6e;
    margin-top: 5%;
}

label{
    color:white;
    font-size: 1.1em;
}

#mail{
    margin-top:90px;
	width:95%;
    text-align: right;
}


.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:1.8em;
	font-weight:bold;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    margin:0 auto;
    margin-top: 3%;
    text-align: center;
    width: 40%;
    height: 30%;
}

.myButton:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.myButton:active {
	position:relative;
	top:1px;
}

#selected{
    margin-left: 2%;
    padding: 0.5%;    
    border: 1px solid #bcbcbc;
    display: none;
    width: 95%;
    margin-bottom : 2%;
}


#sList{
    margin-top: 2%;
    margin-left: 2%;
    padding: 0.5%;
    display: inline-block;
    border: 1px solid #bcbcbc;
    width: 95%;

}

.labelTitle{
    color:white;
    font-size: 1.3em;
    margin-left: 1.0%;
    margin-top : 0.5%;
}

.labelSubTitle{
    color:gray;
    font-size: 1.0em;
}

.labelSet{
    color:#ff6b6b;
    font-size: 0.9em;
    margin-left: 2.0%;
}

.lableEx1{
    color:#48dbfb;
    font-size: 0.9em;
    margin-left: 2.0%;
}

.lableEx2{
    color:#1dd1a1;
    font-size: 0.9em;
    margin-left: 2.0%;
}

.labelTitleSelected{
    color:yellow;
    font-size: 1.2em;
    margin-left: 1.0%;
    margin-top : 0.5%;
}

#menuDiv{
    display: block;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 8%;

}

#picText{
    color: white;
    font-weight: normal;
    font-size: 12em;
}

#btnDiv1, #btnDiv2{
    align-content: center;
    display: inline;
}


#inputDiv{
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    align-content: center;
    width: 80%;
    height: 5%;
    text-align: center;
}

#awinput{
    margin-top: 40px;
    position: relative;
    width: 400px;
    height: 30px;
    margin-left: 20px;
    font-size: 20px;
    align-content: center;
    text-align: center;
}

#addbtn{
    font-size: 20px;
    height: 35px;
    margin-top: 4px;
}